html {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: black;
}
html,
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
